@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*** Reset ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********/

html, body {margin: 0; padding: 0; overflow-x:hidden;  
   font-family: 'Anton', sans-serif; 
}

header {
  border: 5px solid red;
}

/*** Main Style ***/

.container {
  border: 2px solid purple;
}

.wrapper {
  border: 2px solid royalblue;
}

.board {
  border: 2px solid green;
  display: flex;
}

.column{
  border: 2px solid aqua;
  flex-flow: column;
  width: 100%;
}

.square {
  display: block;
  border: 2px solid black;
  height: calc(100vw/3 - 12px);
}

.status{
  border: 2px solid chartreuse;
  text-align: center;
  margin-top: 5%;
}

.status p {
  background-color: grey;
  display: inline-block;
  padding: 3% 3%;
}

.score {
  display: flex;
  border: 2px saddlebrown;
  justify-content: center;
  gap: 5%;
  margin-top: 5%;
}

.score > div {
  padding: 5% 5%;
  text-align: center;
  min-width: calc(100vw / 2 - 5vh);
}

.score-left {
  border: 2px solid crimson;
}

.score-right {
  border: 2px solid blue;
}

.score-left p, .score-right p{
  background-color: grey;
  margin-bottom: 5%;
  padding: 5% 2%;
}


.score p{
  background-color: grey;
}

.settings {
  display: flex;
  flex-flow: column;
  height: 100vw;
}

.settings h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: calc(100vw/10);
  padding: 5%;
  font-weight:bold;
  text-transform: uppercase;
  
}

form {
  border: 2px solid blue;
  display: flex;
  flex-flow: column;
  height: 50vw;
  justify-content: center;
  gap: 5%;
}

form input {
  width: 60vw;
  height: 20%;
  text-align: center;
  align-self: center;
  border: 1px solid black;
  box-shadow: 2px 2px black; 
  border-radius: 2px;
  outline: none;
}

form button {
  text-transform: uppercase;
  padding: 2% 5%;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
  background: none;
  margin-inline: auto;
  margin-top: 5%;
}

.currentPlayer {
  border: 2px solid gold;
}

